@(feeds: List[Feed])
@main("Feeds") {
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="jumbotron">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            @if(feeds.length == 0) {
                                <p>You have no feeds :(</p>
                            } else {
                                @for(f <- feeds) {
                                    <tr class="active">
                                        <td>
                                            @f.feedID
                                        </td>
                                        <td>
                                            @f.title
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-large" href="@routes.Application.feed(f.feedID)">View feed</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}