@(feed: Long)
@main("afd") {
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron">

                    <a href="@routes.Application.index()">Go back your feeds...</a>
                    <table class="table table-bordered table-hover">
                        <tbody>
                            OYEAH!
                            OYEAH!
                            OYEAH!
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}