@(feeds: Seq[Feed], apiKey: String)

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Feed Management</h4>

</div>
<div class="modal-body">
    <table class="table table-bordered table-hover">
        <tbody>
            @if(feeds.length == 0) {
                <p>You have no feeds :(</p>
            } else {
                @for(f <- feeds) {
                    <tr class="active">
                        <td>
                        @f.feedID
                        </td>
                        <td>
                        @f.title
                        </td>
                        <td align="right">
                            <button type="button" id="selectFeed" class="btn btn-primary btn-large" data-dismiss="modal">View feed</button>
                            <button type="button" id="removeFeed" class="btn btn-danger btn-large">Delete</button>
                        </td>
                        <td style="display: none">
                        @apiKey
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a data-toggle="modal" href="#addFeedModal" class="btn btn-default">Add feed</a><!--data-target="#addFeedModal"-->
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>