@(userID: Int)

@main("Sensalizer") {
    <div class="modal fade" id="feedModal" tabindex="-1" role="dialog" aria-labelledby="feedModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Feed Management</h4>

                </div>
                <div class="modal-body"><div class="te"></div></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
                <!-- /.modal-content -->
        </div>
            <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="profileModal" role="dialog" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Feed Management</h4>

                </div>
                <div class="modal-body"><div class="te"></div></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
                <!-- /.modal-content -->
        </div>
            <!-- /.modal-dialog -->
    </div>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Sensalizer</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">@models.Login.getLoggedInUser(userID).username<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-toggle="modal" href="@routes.Application.profile(userID)" data-target="#profileModal">Profile</a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" href="@routes.Application.feeds(userID)" data-target="#feedModal">Feed management</a>                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="#">Log out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
                <!--<div class="jumbotron" id="feedView">
                    <div class="container-canvas">
                        <canvas id="feedGraph" width="800px" height="480px"></canvas>
                    </div>
                </div>-->
                <div class="jumbotron">
                    <div class="row">
                        <div id="canvasContainer" class="col-md-12">
                            <canvas id="feedGraph" width="300" height="300">
                                Sorry, your browser doesn't support the &lt;canvas&gt; element.
                            </canvas>
                            <form id="graphModForm" class="form-inline" role="form">
                                <div class="form-group">
                                    <div>
                                        <label>Number of datapoints</label>
                                        <input type="number" class="form-control" id="numDataPoints" placeholder="10">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button tabindex="-1" class="btn btn-default" type="button">Active data</button>
                                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                            <span class="caret"></span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="#">
                                                <input type="checkbox" checked><span class="lbl"> All</span>
                                            </a></li>
                                            <li class="divider"></li>
                                            <!--<li><a href="#">
                                                <input type="checkbox">
                                                <span class="lbl"> Monday</span>
                                            </a></li>
                                            <li><a href="#">
                                                <input type="checkbox"><span class="lbl">
                                                Tuesday</span>
                                            </a></li>
                                            <li><a href="#">
                                                <input type="checkbox"><span class="lbl">
                                                Wednesday</span>
                                            </a></li>
                                            <li><a href="#">
                                                <input type="checkbox"><span class="lbl">
                                                Thursday</span>
                                            </a></li>
                                            <li><a href="#">
                                                <input type="checkbox"><span class="lbl">
                                                Friday</span>
                                            </a></li>
                                            <li><a href="#">
                                                <input type="checkbox"><span class="lbl">
                                                Saturday</span>
                                            </a></li>
                                            <li><a href="#">
                                                <input type="checkbox"><span class="lbl">
                                                Sunday</span>
                                            </a></li>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="checkbox" id="liveDataDiv">
                                    <label>
                                        <input type="checkbox" checked id="liveData">Live data</label>
                                </div>
                            </form>

                        </div>
                    </div> <!-- /row -->
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4 column">
                <h2>
                    Averages
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
            <div class="col-md-4 column">
                <h2>
                    Period
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
            <div class="col-md-4 column">
                <h2>
                    Minimal/maximum value
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
        </div>
    </div>
}
