@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
        <script src="http://d23cj0cdvyoxg0.cloudfront.net/xivelyjs-1.0.4.min.js"></script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="@routes.Assets.at("javascripts/html5shiv.js")" type="text/javascript"></script>
        <![endif]-->
        <script src="@routes.Assets.at("javascripts/less-1.3.3.min.js")" type="text/javascript"></script>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

            <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

            <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
        <script src="@routes.Assets.at("javascripts/object-watch.js")"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-dialog.min.css")">

        <script src="@routes.Assets.at("javascripts/bootstrap-dialog.min.js")" type="text/javascript"></script>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        @if(models.Login.getLoggedInUser(0) == null) {
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/landing-page.css")">
        }
        <style type="text/css">
            canvas {
                position: relative;
            }
        </style>
        <script>
        $(document ).ready(function(){

            var data = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets:
                [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            };
        var ratio = $("#canvasContainer").height()/$("#canvasContainer").width();
        //Get the context of the canvas element we want to select
        var c = $('#feedGraph');
        var ct = c.get(0).getContext('2d');
        var ctx = document.getElementById("feedGraph").getContext("2d");
        /*************************************************************************/
        //Run function when window resizes
        $(window).resize(respondCanvas);
        var options = {
            responsive: true
        };

        function respondCanvas() {
            c.attr('width', $("#canvasContainer").width());
            c.attr('height', $("#canvasContainer").width()*(ratio));
            //Call a function to redraw other content (texts, images etc)
            new Chart(ct).Line(data, options);
        }

        //Initial call
        respondCanvas();

        //Apparently, we eat click events, so use event delegation
            $(this ).on('click', 'button', function(e){
                e.preventDefault();

                //If a feed management is called, perform those actions
                //That is, load the feed the user clicks on using AJAX
                if (e.currentTarget.id == "selectFeed"){
                                 //this     td       tr        first td      its data without spaces
                    var feedID = $(this).parent().parent().find('td')[0].innerHTML.trim();
                    var apiKey = $(this ).parent( ).parent( ).find('td')[3 ].innerHTML.trim();
                    xively.setKey( apiKey );
                    xively.feed.get( "504", function( data ) {
                        console.log( data ); // Logs the feed title
                    });
                $.ajax({
                        url: "feed/"+feedID,
                        method: 'GET',
                        content: 'json',
                        success: function (d) {
                            d.datasets = d.datasets[0];
                            for (var i = 0; i < d.datasets.length; ++i)
                                d.datasets[i] = d.datasets[i][0];

                            console.log(d);
                            if (d.datasets[0 ].data.length == 1)
                                new Chart(ct).Bar(d, options);
                            else
                                new Chart(ct ).Line(d, options)
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    });
                }
            });
        });
        </script>
    </head>
    <body>
        @content
    </body>
</html>