@(title: String)
@main(title) {
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron">

                    <a href="@routes.Application.index()">Go back your feeds...</a>
                    <h1>
                        Hello, Maarten!
                    </h1>
                    <p>
                        Here you can manage your profile.
                    </p>
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr class="active">
                                <td>
                                    API key
                                </td>
                                <td>
                                    lkajsdhflkasdfhkajsdfh
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-large" href="#">Change API key</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <p>
                        <a class="btn btn-primary btn-large" href="#">Change password</a>
                        <a class="btn btn-danger btn-large" href="#">Delete my account</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
}